// Subnavigation 
.subnavigation
    box-shadow: 0 0 16px 2px rgba(239, 242, 246, 0.82)
    display: block
    border-radius: 30px
    &__lay
        overflow: hidden
    &__list 
        padding: 0.85rem 1rem
        overflow-x: scroll
        margin-bottom: -17px
    &__item
        padding: 0.5rem 2rem
        margin-right: 1rem
        color: #c7c6c6
        font-weight: 400
        display: block
        white-space: nowrap
        &.active, &:hover
            background-color: $orange
            color: #ffffff